@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-content h1 {
    color: azure;
}

.nuxt-content h2 {
    color: azure;
}

.nuxt-content h3 {
    color: azure;
}

.nuxt-content p {
    color: azure;
}

.nuxt-content th {
    color: azure;
}

.nuxt-content td {
    color: azure;
}

.nuxt-content tr {
    color: azure;
}